Mephist2.0/vendor
Mephist2.0/.env
Mephist2.0/node_modules
Mephist2.0/public/storage
Mephist2.0/Homestead.yaml
Mephist2.0/Homestead.json
Mephist2.0/config/*
Mephist2.0/composer.lock
Mephist2.0/_ide_helper.php
Mephist2.0/public/download/*
Mephist2.0/public/archive/*
Mephist2.0/public/img/questions/title/*
Mephist2.0/nbproject/private/
Mephist2.0/.idea/
Mephist2.0/*.ppt
# ====== OS X ===========================================
Mephist2.0/.DS_Store
Mephist2.0/.AppleDouble
Mephist2.0/.LSOverride
